@page
@model RazorPagesProject.Pages.Bookings.NewBookingModel
@{
}
<div class="row">
    <h1>New Booking Evelyn Toh S10204497D</h1>
    <div class="row m-5">
        <div class="col">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <form method="post" id="myform1">
                <p>
                    <label>
                        Name:
                    </label>
                    <input type="text" class="form-control" asp-for=BookingVm.Booking.CustomerName />
                    <span asp-validation-for="BookingVm.Booking.CustomerName" class="text-danger"></span>
                    <br />

                    <label>
                        Contact Number:
                    </label>
                    <input type="text" class="form-control" asp-for=BookingVm.Booking.ContactNumber />
                </p>


                @foreach (var item in Model.BookingVm.Rooms)
                {
                    <div style="border:1px solid black">
                        <div class="row m-4">
                            <img src="~/images/@Html.DisplayFor(modelItem => item.ImageUrl)" height="300" />
                        </div>
                        <br />

                        <div>
                            <input type="radio" asp-for="BookingVm.BookingRoomId" value="@item.Id" onclick="clickPrice(this)" data-price="@item.Price" />
                            Room Type: @Html.DisplayFor(modelItem => item.RoomName)
                        </div>
                        <br />
                        <span>
                            Price: $  @Html.DisplayFor(modelItem => item.Price)
                        </span>
                        <br />
                        <div>
                            Room Size: @Html.DisplayFor(modelItem => item.RoomSize) sqm
                        </div>
                    </div>

                }
                <div>
                    <p>
                        <input type="checkbox" asp-for="BookingVm.BreakfastBuffet" /> Breakfast Buffet<br />
                        <input type="checkbox" asp-for="BookingVm.Balcony" /> Balcony<br />
                        <input type="checkbox" asp-for="BookingVm.SeaView" /> Sea View<br />
                        <input type="checkbox" asp-for="BookingVm.ExtraBed" /> Extra Bed<br />
                    <p>
                        Start Booking Date:
                        <input type="datetime-local" asp-for="BookingVm.Booking.CheckInDateTime" class="form-control">
                    </p>
                    <p>
                        End Booking Date:
                        <input type="datetime-local" asp-for="BookingVm.Booking.CheckOutDateTime" class="form-control">
                    </p>
                </div>

                <div>
                    <label>Quantity</label>
                    <input type="text" asp-for="BookingVm.Booking.Quantity" value="1" />
                    <label>Total Price</label>
                    <input type="text" asp-for="BookingVm.Booking.TotalPrice" value="0" />
                </div>
                <input type="submit" value="Book" />
            </form>
        </div>
    </div>

</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    @{
        <script>
            let p = 0;

            function clickPrice(obj) {
                console.log(' obj.value', obj);
                p = obj.dataset.price;
                $("#BookingVm_Booking_Quantity").val(1);
                $("#BookingVm_Booking_TotalPrice").val(p)
            }

            $("#BookingVm_Booking_Quantity").keyup(function () {
                var qty = $("#BookingVm_Booking_Quantity").val();
                $("#BookingVm_Booking_TotalPrice").val(qty * p)
            })

        </script>
    }
}

